/*
  Styling is intentionally NOT provided.

  TODO: Design your own UI:
  - layout (grid/cards/table)
  - typography
  - buttons/forms
  - spacing and responsiveness
*/

/* base styles */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #222;
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.2rem;
  margin: 0 0 1em 0;
}

h2 {
  font-size: 1.85rem;
  color: #858585;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

h4 {
  font-size: 1.25rem;
  color: #525252;
  margin: 0 0 0.25em;
}

h4 + span {
  display: block;
  margin-bottom: 1.65em;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

/* nav & links */

a {
  color: #00ccff;
}

a:hover {
  text-decoration: none;
}

nav a {
  display: block;
  font-size: 1.25rem;
  color: #00ccff;
  padding-bottom: 0.15em;
  border-bottom: 2px solid transparent;
  font-weight: 500;
  text-decoration: none;
}

nav a:hover, 
.nav-active {
  color: #006eff;
}

/* components & assets */
.logo {
  width: 220px;
}

.img-feat {
  width: 100%;
  border-radius: 0.35em;
  margin-bottom: 2em;
}

form {
  font-size: 1.25rem;
  margin: 2em auto;
}

label {
  display: block;
  font-weight: 500;
  margin-bottom: 1.5em;
}

input {
  font-size: 1em;
  margin-top: 0.35em;
  display: block;
  width: 100%;
  padding: 0.5em;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

input:focus {
  outline-color: #0099ff;
}

/* layout */
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  padding-right: 15%;
}

header {
  padding: 1.75em 0;
}

.not-found {
  text-align: center;
}

footer.container {
  padding: 2.25em 0;
  margin-top: auto;
  border-top: 1px solid rgb(219, 219, 219);
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

/* media queries */
@media (max-width: 767px) {
  nav a {
    padding: 0.35em 0;
  }
}

@media (min-width: 768px) {
  header, 
  nav {
    display: flex;
    align-items: center;
  } 
  header.container {
    margin-bottom: 1em;
  }
  nav {
    margin-left: auto;
  }
  nav a {
    margin-left: 1.25em;
  }
  .nav-active {
    border-bottom: 2px solid currentColor;
  }
  form {
    width: 60%;
  }
}